[Unit]
Description=Filtering IP dyn with iptables
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/filteripdyn
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target